.filebrowser{
    --almostBlack:hsl(0, 0%, 3%);
    --darkgray:hsl(0, 0%, 10%);
    --darkgray-focus: hsl(0, 0%, 15%);
    --lightgray:hsl(0, 0%, 20%);
    --intenseRed:hsl(0, 100%, 29%);
    --light:hsl(0, 0%, 40%);
    font-size: 16px;
    border: 1px solid var(--darkgray);
    min-height: 200px;
    height:600px;
    min-width: 400px;
    width: 100%;
    position:relative;
    background-color: var(--lightgray);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    resize: both;
}

.titlebar{
    --height:30px;
    width:100%;
    background-color: var(--almostBlack);
    color:var(--light);
    height: var(--height);
    display:flex;
    align-items: center;
    user-select: none;
}

.favicon{
    width:var(--height);
    height:var(--height);
    padding:calc(var(--height) / 5);
    object-fit: cover;
    overflow: hidden;
}

.view{
    height:var(--height);
    padding:0 1em;
    line-height: var(--height);
    transition:
        background-color 150ms ease,
        color 150ms ease
    ;
    position:relative;
    cursor: pointer;

    &:hover,
    &:focus{
        background-color: var(--light);
        color:white;
    }

    &::after{
        content:"";
        display: block;
        height:calc(var(--height) * 0.4);
        width:1px;
        /* background-color: var(--lightgray); */
        outline:1px solid var(--light);
        border-radius: 10%;
        position:absolute;
        left:1px;
        top:calc(var(--height) * 0.3);
    }
}

.title{
    height:var(--height);
    padding:0 1em;
    line-height: var(--height);
}

.exp-close{
    height:var(--height);
    padding:0 1.5em;
    line-height: var(--height);
    margin-left:auto;
    font-size: 0.8em;
    transition:
        background-color 150ms ease,
        color 150ms ease
    ;
    cursor: pointer;
    &:hover,
    &:focus{
        background-color: var(--intenseRed);
        color:white;
    }
}

.navBar{
    --height:40px;
    width:100%;
    height:var(--height);
    display:flex;
    align-items: center;
    background-color: var(--darkgray-focus);
    color:white;
}
.back, .up{
    width:1em;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    line-height: var(--height);
    color:var(--light);
    cursor: pointer;
    user-select: none;
    &:hover{
        background-color:var(--darkgray);
        color:white;
    }
}

.pathBar{
    --height:30px;
    outline:1px solid var(--light);
    padding:0 0.5em 0 0;
    height:var(--height);
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    width:100%;
    margin-right: 1em;
}
.pathObj{
    margin:0 0 0 1em;
    padding:0 0.5em;
    display: block;
    position:relative;
    line-height: var(--height);
    cursor: pointer;
    white-space: nowrap;
    &::before{
        content:'\003E';
        position: absolute;
        left:-0.8em;
        color:var(--light);
    }
    &:hover{
        background-color: var(--almostBlack);
    }
}

.searchBar{
    --height:30px;
    outline:1px solid var(--light);
    padding:0 0.1em;
    height:var(--height);
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    background-color: inherit;
}
.searchIcon{
    filter:saturate(0);
}
#searchInput{
    background-color: inherit;
    border:none;
    height:var(--height);
    min-width: 30ch;
    color:white;
    &::placeholder{
        color:var(--light);
    }
    &:focus{
        outline: 0px;
    }
}

.contentScroll{
    overflow-y: scroll;
}
.folderContent{
    display: table;
    width:100%;
    padding:0.2em 0.5em;
    color:white;
    background-color: var(--lightgray);
}
.header{
    display:table-header-group;
    color:var(--light);
    position: sticky;
    top:0;
    background-color: inherit;

    span {
        display:table-cell;
        border-right: 1px solid var(--light);
        padding:0 0 0 .2em;
    }
}

.contentRow{
    display:table-row;
    font-size: 0.9em;
    height:1.8em;
    cursor: pointer;
    
    &:hover{
        background-color: var(--light);
    }
    
    span{
        display:table-cell;
        vertical-align: middle;
        padding: 0 0 0 .2em;
    }

    .name{
        &::before{
            content:"";
            display:inline-block;
            width:16px;
            height:16px;
            margin-right: 0.3em;
            background-image:url("./icons/fileTypes/unknown.png");
            background-position: center;
            background-size:contain;
            background-repeat: no-repeat;
        }
    }
    .folder::before{
        background-image: url("./icons/fileTypes/folder.png");
    }
    .php::before{
        background-image: url("./icons/fileTypes/php.png");
    }
    .vue::before{
        background-image: url("./icons/fileTypes/folder.png");
    }
    .js::before{
        background-image: url("./icons/fileTypes/js.png");
    }
    .md::before{
        background-image: url("./icons/fileTypes/md.png");
    }
    .txt::before{
        background-image: url("./icons/fileTypes/txt.png");
    }
}

::-webkit-scrollbar{
    background: var(--lightgray);
    width:10px;
}
::-webkit-scrollbar-thumb{
    background: var(--light);
}